<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">

<title>LoveCHarm Blog</title>
{% load static%}
<link rel="stylesheet" href="{% static 'free.css'%}">
<center><img src="{%static 'log05.png'%} "></center>
</head>
<body>
   <section id="blog">

    <div class="blog-heading">
        <span>LoveCharm Quotes</span>
    </div>
    
    <div class="content">
        <br>
        <h2>How to go about using LoveCharm</h2>
        <br>
        <p>I never knew what love was until I met you.
            <br>
            You own my heart.
            <br>
            I became a better woman when I found you.
            <br>
            Every day you push me higher.
            <br>
            I'd go crazy if something ever happened to you.
            <br>
            For the first time in my life, I don't have to make an effort to be happy.
            <br>
            I am here, I will always be here
            <br><br>
            When I first got together with you I did not expect our love to run this deep.       
        </p>
    </div>

    <br><br>
    <span id="dots">...</span>
    <span id="more">LOVE LOVE LOVE...!!!<br><br>
        <p>
        My bounty is as boundless as the sea
        <br>
        I love you very much, probably more than anybody could love another person.
        </p>
        I love you without knowing how, or when, or from where
        <br>
        Never a dull moment together.
        <br>
        I love you today, tomorrow, forever.
        <button onclick="myfunction();"id="btn" class="read-more-btn">Read More</button>
        <br><br><br>
    </div>
    <script>
        function myfunction(){
        var dots = document.getElementById("dots");
        var more = document.getElementById("more");
        var btn = document.getElementById("btn");
        if (dots.style.display == "none")
        {
            dots.style.display ="inline";
            more.style.display = "none";
            btn.innerHTML = "Read More"; 
        }else
        {
        dots.style.display = "none";
        more.style.display = "inline";
        btn.innerHTML = "Read Less";
    }
}
</script>

    </body

<html>